@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400italic);


body{
	left:0;
	right:0;
	bottom: 0;
	@include breakpoint(small down){
		.navsmaller{ font-size: 1.1rem; }
		.navsmaller{ font-size: 0.9rem; }
		.topsection{ ul li { width: 40%; margin-bottom: 2.5%; } }
	}

	font-family: $font-primary;
	background: url('../data/pics/chicago.jpg') no-repeat center center fixed;
	background-size: cover;
	background-color: $black;
	max-height: 100%;

}

main {
	width: 100vw;
	background: $white;
	line-height: 180%;
	border-top: 1px solid $black;
	//border-bottom: 1px solid $black;
	//margin-bottom: -5px;
}

footer {
	z-index: 999;
	text-align: center;
	color: $white;
	background: $tan;
	line-height: 130%;	
	width: 100vw;
	padding-top: 7px;
	//padding-bottom: 10px;
	border-bottom: 1px solid $black;
	border-top: 1px solid $black;
	position: relative;


	//for icons
	ul {
		list-style-type: none;
		li {
			display: inline-block;
			min-width: 40px;
		}

		i {	
			color: $black;
			&:hover {
				color: $linen;
				@include transition(0.1s);
				cursor: pointer; cursor: hand;
			}
			vertical-align:bottom;
		}
	}
}

header{
	width: 100vw;
	height: 100vh;
	margin-top: 0px;
	padding-top: 0px;
	background: url('../data/pics/chicago.jpg') no-repeat center center fixed;
	background-size: cover;

	h1 {
		font-size: 5em;
		@include vertically-center();
		color: rgba(255,255,255,0.85);
		text-align: center;
	}
}

.title-bar {
	max-width: 100%;
	padding: 0px;
    background: $transparent;
    margin: auto;
	line-height: $nav-height;
    z-index: 900;
	@include transition(0.4s);
	font-family: $font-nav;
	font-variant: small-caps;
	font-size: 1.3em;

	a, a:visited {
		display: inline-block;
		color: $black;
		text-decoration: none;
		font-weight: normal;
	}
	a:hover{
		@include transition(0.2s);
		color: $lightgray;
	}
	a:active{
		border-bottom: 1px solid $white;
	}

	ul {
		list-style-type: none;
		text-align: left;

		li {
			display: inline-block;
			vertical-align: middle;
			min-width: 70px;

		}
	}
}
.navsmaller{	//add this class to shrink navbar

	line-height: $nav-height-smaller;
	@include transition(0.4s);
	font-size: 1.3em;
	background-color: $tan;
	border-bottom: 0px solid $black;
	opacity: 0.9;

	ul {
		text-align: center;
	}

	a, a:visited {
		color: $black;
	}
	a:hover, a:active{
		color: $white;
	}
}
#link1, #link2, #link3, #link4 {
	&.current{
		border-bottom: 2px solid $white;
	}
}

h1, h2, h3 {
	font-family: $font-title;
	color: $black;
	a, a:visited{
		color: $black;
	}
	a:hover{
		color: $rosybrown;
	}
}

.row {
	padding-top: 100px;
	padding-bottom: 100px;
	&.full-width{
	    max-width: 100% !important;
    }
}


.center img {		//slick carousel
	z-index: 500;
	max-height: 500px;
	border-top: 1px solid $black;
	border-bottom: 1px solid $black;
	opacity: 1.0;
	&:hover {
		@include transition(0.2s);
		opacity: 0.9;
		cursor: pointer; cursor: hand;
	}
}

.center video {		//slick carousel
	z-index: 400;
	border-top: 1px solid $black;
	border-bottom: 1px solid $black;
	opacity: 1.0;
	object-fit: cover;
	max-height: 500px;
	&:hover {
		@include transition(0.2s);
		opacity: 0.9;
		cursor: pointer; cursor: hand;
	}
}

#prev-slick, #next-slick{
	&:hover{
		@include transition(0.2s);
		cursor: pointer; cursor: hand;
		color: $rosybrown;
	}
}

#prev-slick{ padding-right: 20px; }
#next-slick{ padding-left: 20px; }


.topsection{

	background-color: $linen;
	border-bottom: 1px solid $black;

	h3 {
		display:inline;
		line-height: 400%;
	}

	ul {
		list-style-type: none;
		text-align: center;

		li {
			background-color: $white;
			width: 30%;
			max-width: 300px;
			margin: 0 0.7%;
			line-height: 500%;
			display: inline-block;
			border: 1px solid $black;
		}
	}

	a li:hover{
		background: $rosybrown;
		cursor: pointer; cursor: hand;
	}

}

.contactinfo {
	visibility: hidden;

	i {
		visibility: visible;
		color: $black;
		//opacity: 0.8;

		&:hover{
			opacity: 0.5;
			@include transition(0.1s);
			cursor: pointer; cursor: hand;
		}		
	}
}

a:active, a:selected, a:visited { 
    border: none;
    outline: none;
}

.clearfix::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


.progress-indicator {
	z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    height: 3px;
    background-color: #0A74DA;
}